cache/
logs/
world/
world_nether/
world_the_end/
banned-ips.json
banned-players.json
bukkit.yml
commands.yml
eula.txt
help.yml
ops.json
ops.txt.converted
paper*.jar
paper.yml
permissions.yml
server.properties
spigot.yml
usercache.json
version_history.json
wepif.yml
whitelist.json
.DS_Store